@font-face {
  font-family: "horror";
  src: url("../fonts/BloodLust.ttf");
}
@font-face {
  font-family: "meltedMonster";
  src: url("../fonts/Melted Monster.ttf");
}
* {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#scarelyu-logo {
  width: 100px;
}
html,
body {
  background: rgb(33, 33, 33);
  background: radial-gradient(
    circle,
    rgba(33, 33, 33, 1) 0%,
    rgba(0, 0, 0, 1) 11%,
    rgba(0, 0, 0, 1) 89%,
    rgba(5, 5, 5, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  background: black;
  z-index: 9999;
}
.top {
  width: 100%;
  height: 100px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50%;
}
.top ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  /* float: right; */
}
.top ul li {
  /* float: left; */
  font-size: 25px;
  font-weight: bold;
  font-family: "meltedMonster";
}
.top ul li a {
  color: white;
  text-decoration: none;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}
.active a {
  /* color: rgb(208, 195, 15); */
  color: #ff8181 !important;
}
#dashboard {
  height: 100%;
  width: 100%;
}
.db-bg {
  background: url(../images/bg.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  font-size: 4rem;
  color: red;
  font-family: "horror";
}
.welcome-pic {
  height: 200px;
  display: flex;
  align-items: center;
}
#stories,
#places,
#faq-gg {
  height: 100%;
  padding: 122px 12% 0px 12%;
  /* padding: 122px 100px 0px 100px!important; */
}

#places {
  padding-bottom: 100px;
}

.stories-container {
  display: inline-flex;
  gap: 20px;
  height: 90%;
  padding-top: 100px;
  /* align-items: center; */
}
.stories-toggler {
  height: 10%;
}

.stories-toggler button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  width: 200px;
  font-family: "horror";
}

.stories-toggler button.previous {
  float: left;
  cursor: pointer;
}
.stories-toggler button.next {
  float: right;
  cursor:pointer;
}
.stories-toggler button.previous:hover {
  padding-left: 10px;
}
.stories-toggler button.next:hover {
  padding-right: 10px;
}
.story-image img {
  width: 600px;
}

.story-content {
  overflow: hidden;
}
.story-content .content {
  max-height: 380px;
  overflow: hidden;
}
.story-content h1 {
  margin-bottom: 20px;
}
.show-more {
  margin-top: 4px;
  text-align: right;
}
.show-more button {
  padding: 6px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  border: 1px solid red;
}
.show-more button:hover {
  border: 1px solid red;
  background: red;
}
.h-100 {
  max-height: 77% !important;
  overflow: auto !important;
}
.stories-lbl,
.places-lbl {
  font-size: 3.5rem;
  color: red;
  font-family: "meltedMonster";
}
.places-lbl {
  margin-bottom: 50px;
}
.faq {
  justify-content: center;
  margin-top: 30px;
}

#contact-us {
  padding: 30px;
  height: max-content;
  background: #2f2e2e;
  margin-top: 100px;
}
.footer .contact {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.copyright {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;
}
.mt-10 {
  margin-top: 10px;
}
#complogo {
  width: 150px;
}
.logo {
  color: red;
  font-family: "meltedMonster";
}
.logo span {
  font-size: 30px;
}
@keyframes zoomInAnimationofKwa {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.icons {
  width: 40px;
  margin-top: 10px;
  padding-right: 20px;
}
.welcome {
  animation: zoomInAnimationofKwa 15s forwards;
}

.btn-event-options a {
  border: 1px solid red;
  padding: 10px 20px 13px 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.btn-event-options a:hover {
  border: 1px solid #ff8181 !important;
  background: red;
}
.btn-event-options {
  /* margin-top: 24px; */
  float: right;
  margin: auto;
}

@keyframes fadeInAnimationofKwa {
  from { opacity: 0; }
  to { opacity: 1; }
}
.stories-container {
  -webkit-animation: fadeInAnimationofKwa 1s;
  animation: fadeInAnimationofKwa 1s;
}
#katawa {
  display: none;
}